<div class="update-container">
    <div class="update-card">

        <h2 class="title">
            <i class="fa-solid fa-lock"></i> Update Password
        </h2>

        <form #passwordForm="ngForm" (ngSubmit)="updatePassword(passwordForm)">

            <!-- Password Field -->
            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="password" [(ngModel)]="passwordData.password" required minlength="6"
                    #password="ngModel" placeholder="Enter new password">

                <small class="error" *ngIf="password.invalid && password.touched">
                    Password is required
                </small>

                <small class="error" *ngIf="password.errors?.['minlength'] && password.touched">
                    Password must be at least 6 characters
                </small>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" [(ngModel)]="passwordData.confirmPassword" required
                    minlength="6" #confirmPassword="ngModel" placeholder="Confirm password">

                <small class="error" *ngIf="confirmPassword.invalid && confirmPassword.touched">
                    Confirm Password is required
                </small>

                <small class="error" *ngIf="confirmPassword.errors?.['minlength'] && confirmPassword.touched">
                    Password must be at least 6 characters
                </small>

                <small class="error"
                    *ngIf="passwordData.password !== passwordData.confirmPassword && confirmPassword.touched">
                    Passwords do not match
                </small>
            </div>

            <!-- Update Button -->
            <button type="submit"
                [disabled]="passwordForm.invalid || passwordData.password !== passwordData.confirmPassword">
                Update Password
            </button>

        </form>
    </div>
</div>