<app-customer-navbar></app-customer-navbar>

<div class="history-container" *ngFor="let history of customerhistorylist;">

    <div class="history-card" *ngIf=" history!=null; else noHistory"
        (click)="producthistory(history.productId)">

        <!-- LEFT SIDE - IMAGE -->
        <!-- <div  *ngIf="history.status === 0"> -->
        <!-- @if (history.status!=1) { -->
        <div class="history-image">
            <img [src]="history.img1" alt="Product Image">
        </div>

        <!-- CENTER - DETAILS -->
        <div class="history-details">
            <h3>{{ history.productName }}</h3>
            <h3>{{ history.description }}</h3>
        </div>

        <!-- RIGHT SIDE - PRICE & DATE -->
        <div class="history-info">
            <p class="price">₹ {{ history.price }}</p>
            <p class="date">{{ history.datetime }}</p>
        </div>
        <!-- } -->
    </div>
    <!-- </div> -->

</div>


<ng-template #noHistory>
    <div class="no-history-card">
        <h2>No Purchase History</h2>
        <p>This customer has not placed any bids yet.</p>
    </div>
</ng-template>

<app-customerfooter></app-customerfooter>