<app-customer-navbar></app-customer-navbar>

<div class="product-container" *ngFor="let product of bidding">

  <div class="product-card" (click)="placeBid(product.productId,product.bid)"
    *ngIf="product.status===1 && product!=null;else onempty">

    <!-- LEFT IMAGE -->
    <div class="product-image">
      <img [src]="product.img1" alt="Product Image">
    </div>

    <!-- CENTER CONTENT -->
    <div class="product-content">
      <h2 class="product-name">{{ product.productName }}</h2>
      <p class="product-desc">
        {{ product.description }}
      </p>
    </div>

    <!-- RIGHT SIDE -->
    <div class="product-right">
      <h3 class="product-price">₹ {{ product.price }}</h3>
      <p class="product-date">
        {{ product.datetime| date:'yyyy-MM-dd hh:mm a' }}
      </p>
    </div>

  </div>

</div>


<ng-template #onempty>
  <div class="no-data-card">
    <h2>No Products Available for Bidding</h2>
    <p>Currently there are no active products open for bidding.</p>
  </div>

</ng-template>
<app-customerfooter></app-customerfooter>