/* You can add global styles to this file, and also import other style files */
.heading{
    color: #4CAF50; 
    font-family: 'Arial Black', sans-serif; 
    text-shadow: 1px 1px 2px #888;
}
// @use 'ngx-toastr/toastr.css';
// @import './styles/styles.css';
// @import '~ngx-toastr/toastr.css';





// html, body {
//   height: 100%;
//   margin: 0;
//   overflow: hidden;   /* 🔥 THIS STOPS PAGE SCROLL */
// }
